.Form {
    padding: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 5%;
}

.formInputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submitBtn {
    width: 100%;
}

.passwordContainer {
    position: relative;
}

.passwordInput {
    padding-right: 35px;
}

.emailError, .passwordError{
    color:#e76262;
}

.passwordIcon {
    width: 20px;
    position: absolute;
    top: 20%;
    right: 0.5%;
    fill: rgba(78, 77, 78, 0.72);;
    transition: 0.4s;
  }

.passwordIcon:hover {
    fill: inherit;
    cursor: pointer;
  }

input, textarea {
    font-size: 16px;
}

textarea {
    width: 100%;
    resize: none;
    height: 150px;
    border: 1px solid rgba(136, 136, 136, 0.46);
    border-radius: 5px;
    padding: 10px;
    transition: border 0.4s;
}

textarea:focus {
    border: 1px solid rgba(61, 61, 61, 0.46);
    outline: none;
}