.YearCalendar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.yearTitle {
  display: flex;
  gap: 20px;
}

@media (max-width: 585px) {
  .yearTitle {
    flex-direction: column;
    align-items: center;
  }
}

.calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.month {
  border: 1px solid #ccc;
  max-width: 350px;
  width: 100%;
  min-width: 240px;
  height: 180px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.monthTitle {
  font-weight: 600;
}

.daysList {
  height: 130px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: 14.28%;
  text-align: center;
}